// CONTAINER RULES

@require 'variables'

.container
    width 100%
    min-width 200px
    border-radius 5px
    min-width 250px
    margin 0 auto
    float left

.container *
    margin 0 auto
    width  95%
    
.container-header
    padding 10px 2.5%
    margin-right 0
    background-color grey6
    color: grey3
    font-family: lato
    font-weight bold
    font-size fontContainerHeader
    text-align center
    border-top-left-radius inherit
    border-top-right-radius inherit

.container .container-body
    width 100%
    margin-right 0
    background-color grey3;
    color grey6
    font-family: lato;
    font-weight normal;
    font-size fontBody;
    border-bottom-left-radius inherit
    border-bottom-right-radius inherit

.container-list
    width 100%
    padding 0
    margin 0

.container-list-item
    position relative
    width 100%
    margin  0
    padding 10px 0
    min-height 44px
    text-align center
    line-height 0px

.container-list-item:hover
    background-color grey7
    color grey3

.container-list-item:hover button
    color:grey3;

.container-list-item:hover button.button-unbuy:hover
    color:grey7;

.container-list-item div
    line-height 28px
    padding 10px 0

.container-list-item-form
    position absolute
    width 98%
    top 15px
    left 0
    padding 0
    text-align left

.container-list-item-form button
    position relative
    left 77%
    top 0
    width 5%
    margin 0

    z-index 1
      
.container-list-item-form:last-of-type button
    left 0%

.container-form
    width 90%
    display inline-block
    padding 0 5%
    padding-bottom 15px
    margin 10px 0 0 0
    margin-right 0

.input-container
    margin 0
    margin-bottom 10px
    padding 0
    width 100%

.input-container:last-of-type
    margin-bottom 0

.input-container label
    display inline-block
    font-weight bold
    margin 0
    padding 0
    margin-bottom 5px

.input-container input
    left 10px
    display inline-block
    padding 10px 0
    margin 0
    margin-right 10px
    border none
    width 100%
    text-indent 10px

.input-container .submit
    background-color #aa8ee5
    color grey1
    font-weight bold
    border-radius 2px
    padding 10px 0
    text-indent 0
    
// MEDIA QUERIES

// Smaller than Tablet
@media screen and (max-width: 478px)

    .input-container input
        text-indent 0

    .container-list-item-form
        text-align center
        
    .container-list-item-form button
        left 38%
        
    .container-list-item-form:last-of-type button
        left -40%
