// Background-patterns
darkDenim3 = "./../images/darkdenim3.png";

// Greyscale Colors
grey1 = #F0F0F0
grey2 = #D3D3D3
grey3 = #BEBEBE
grey4 = #A8A8A8
grey5 = #8C8C8C
grey6 = #575757
grey7 = #383838
grey8 = #1A1A1A
grey9 = #030303

body
    color grey4
    background-image url(darkDenim3)
    background-repeat repeat
    width 100%
h1
    color #dddddd
    
#top-menu
    background-color grey2
    width 100%
    min-height 75px
    