// VARIABLES

// Background-patterns
darkDenim3 = "./../images/darkdenim3.png";

// Fonts
lato = "lato";
thin = 100;
normal = 400;
bold = 700;

// Font sizes
fontSmall = 1.2em;
fontBody = 1.4em;
fontContainerHeader = 1.8em;
fontHeader = 2.4em;
fontJumbo = 3.6em;

// Greyscale Colors
grey1 = #F0F0F0
grey2 = #D3D3D3
grey3 = #BEBEBE
grey4 = #A8A8A8
grey5 = #8C8C8C
grey6 = #575757
grey7 = #383838
grey8 = #1A1A1A
grey9 = #030303

// Mobile exclusive
minButtonWidth = 44px
minButtonHeight = 44px


// DEFUALT RULES
body
    width 100%
    color grey4
    font-size 10px
    background-image url(darkDenim3)
    background-repeat repeat

#app
    position absolute
    z-index -2

#wrapper
    margin 0 auto
    min-width 320px
    width 100%

#topmenu
    overflow hidden
    width 100%
    background-color grey2
    min-height 75px

#topmenu div
    float left
    display block

.top-menu-item
    padding 30px
    font-size fontBody
    color grey7
    font-weight normal
    display inline-block
    text-decoration none

.top-menu-item:hover
    color grey2
    background-color #585758

.top-menu-container
    width 100%

#topmenu .top-menu-slogan
    display none

#top-menu-items-container
    width 77.9%

#topmenu .toggle-menu-icon
    display none

.logo-container
    padding 5px 15px

#app
    padding 0

.container
    margin 0 auto
    float left

// Rows
.row
    width 100%
    display block

// Columns
.column, .columns
    padding 20px 0
    float left
    display inline-block
    //border 1px solid grey5

.container
    width 100%
    border-radius 5px

.container *
    margin 0 auto
    padding 10px 2.5%
    width  95%
    min-width 200px

.container-header
    margin-right 0
    background-color grey6
    color: grey3
    font-family: lato
    font-weight bold
    font-size fontContainerHeader
    text-align center
    border-top-left-radius inherit
    border-top-right-radius inherit

.container-body
    margin-right 0
    background-color grey3;
    color grey6
    font-family: lato;
    font-weight normal;
    font-size fontBody;
    border-bottom-left-radius inherit
    border-bottom-right-radius inherit

.container-list
    width 100%
    padding 0
    margin 0

.container-list-item
    width 100%
    margin  0
    padding 10px 0

.container-form
    width 100%
    display inline-block
    padding 0
    margin 10px 0 0 0
    margin-right 0

.input-container
    margin 0
    margin-bottom 10px
    padding 0
    width 100%

.input-container:last-of-type
    margin-bottom 0

.input-container label
    display inline-block
    font-weight bold
    margin 0
    padding 0
    margin-bottom 5px

.input-container input
    left 10px
    display inline-block
    padding 10px 0
    margin 0
    margin-right 10px
    border none
    width 100%
    text-indent 10px

.input-container .submit
    background-color #aa8ee5
    color grey1
    font-weight bold
    border-radius 2px
    padding 10px 0
    text-indent 0

// Column Sizes
.one
    width: 8.333333333%

.two
    width: 16.66666666%

.three
    width: 24.99999999%

.four
    width: 33.333333332%

.five
    width: 41.666666665%

.six
    width: 49.999999998%

.seven
    width: 58.333333331%

.eight
    width: 66.666666664%

.nine
    width: 74.999999997%

.ten
    width: 83.33333333%

.eleven
    width: 91.666666663%

.twelve
    width: 100%

.strikethrough
    text-decoration line-through
    color grey5


// MEDIA QUERIES

// Smaller than Tablet
@media screen and (max-width: 478px)
    .column, .columns
        width: 100%
    .container *
        text-align center

    .input-container input
        text-indent 0

    .top-menu-container
        width 100%

    .top-menu-container #top-menu-items-container
        position absolute
        background-color grey7
        z-index -1
        top -15px
        width 100%
        padding 0
        transition top 0.5s

    .top-menu-container #top-menu-items-container.visible
        display inherit
        top 76px

    .top-menu-item
        display inline-block
        width 100%
        text-align center
        padding-top 15px
        padding-bottom 15px
        padding-left 0
        margin 0 auto
        color grey3
        font-weight bold

    .logo-container
        padding-right 0
    #topmenu .toggle-menu-icon
        float right
        display inline-block
        font-size fontContainerHeader
        color grey7
        padding 27px 7.5%
        padding-left 0

    #topmenu .top-menu-slogan
        display inline-block
        margin 0 auto
        padding 27px 0
        width 60%
        position absolute
        z-index 3
        text-align center
        font-size fontContainerHeader
        color grey7
