// SUPPLEMENTAL CLASSES RULES

@require 'variables'

.strikethrough
    text-decoration line-through
    color grey5
   
button
    border none
    padding 15px 0
    min-width 60px
    text-align center
    font-size fontXSmall
    color grey7
    border-radius 12%
    border-radius 12%
    
.button-danger
    border 1px solid #cb4323
    background-color transparent

.button-danger:hover
    background-color #cb4323
    color white
    
.button-buy
    border 1px solid #44a312
    background-color transparent
    
.button-buy:hover
    background-color #44a312
    color white
    
.button-unbuy
    border 1px solid grey2
    background-color transparent
    
.button-unbuy:hover
    background-color grey2
    color grey7
    
    
    
// MEDIA QUERIES

// Smaller than Tablet
//@media screen and (max-width: 478px)