// VARIABLES

// Background-patterns
darkDenim3 = "./../images/darkdenim3.png";

// Fonts
lato = "lato";
thin = 100;
normal = 400;
bold = 700;

// Font sizes
fontSmall = 1.2em;
fontBody = 1.4em;
fontContainerHeader = 1.8em;
fontHeader = 2.4em;
fontJumbo = 3.6em;

// Greyscale Colors
grey1 = #F0F0F0
grey2 = #D3D3D3
grey3 = #BEBEBE
grey4 = #A8A8A8
grey5 = #8C8C8C
grey6 = #575757
grey7 = #383838
grey8 = #1A1A1A
grey9 = #030303

// Mobile exclusive
minButtonWidth = 44px
minButtonHeight = 44px