extends ../includes/layout

block main-content
    section.content
        #wrapper
            .row
                div(id="top-menu" class="column twelve")
            .row
                div(id="app" class="column twelve")
