doctype html5
html
    head
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

        link(rel='stylesheet', href='/public/vendor/toastr/toastr.css')
        link(rel='stylesheet', href='/public/vendor/bootstrap/dist/bootstrap.css')

        link(rel="stylesheet", href="/css/custom.css")
        
    body
        block main-content
        include scripts