doctype html

html(lang="en")
    head
        // Meta
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

        // bower:css
        link(rel='stylesheet', href='vendor/normalize-css/normalize.css')
        // endbower

        //Fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:400,400italic,100,700,700italic' rel='stylesheet' type='text/css')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        
        //- inject:css
        link(rel="stylesheet", href="app/styles/custom.min.css")
        //- endinject

    body
        #wrapper
            div(id="topmenu")
            block main-content
        include scripts
