doctype html
html
    head
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

        // bower:css
        link(rel='stylesheet', href='vendor/toastr/toastr.css')
        link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.css')
        // endbower

        //- inject:css
        link(rel="stylesheet", href="app/styles/custom.css")
        //- endinject
        
        script(src="/vendor/socket.io/socket.io.js" type="text/javascript")
        
    body
        block main-content
        include scripts