// bower:js
script(src='vendor/jquery/dist/jquery.js')
script(src='vendor/toastr/toastr.js')
script(src='vendor/bootstrap/dist/js/bootstrap.js')
// endbower

// Socket.io
script(src="socket.io/socket.io.js" type="text/javascript")

//- inject:js
script(src="app/scripts/sockets.js")
//- endinject
