// bower:js
script(src='vendor/jquery/dist/jquery.js')
script(src='vendor/bootstrap/dist/js/bootstrap.js')
script(src='vendor/react/react.js')
script(src='vendor/react/react-dom.js')
// endbower

// Socket.io
script(src="socket.io/socket.io.js" type="text/javascript")

//- inject:js
script(src="app/scripts/app.js")
script(src="app/scripts/sockets.js")
script(src="app/reactscripts/helpers/rest.helper.js")
//- endinject
